.home-category-container {
    background-size: cover;
}

.home-category-container:hover {
    cursor: pointer;
}

#landscape-category-container {
    background-image: url(../img/mountain.png);
}

#gaming-category-container {
    background-image: url(../img/Rogue-One-A-Star-Wars-4K5K.jpg);
}

#technology-category-container {
    background-image: url(../img/PoeDHGD.jpg);
}

#movies-category-container {
    background-image: url(../img/tauriel.png);
}

#animals-category-container {
    background-image: url(../img/surikat-617x411.jpg);
}

#culture-category-container {
    background-image: url(../img/SR-Stone_Wall.jpg);
}

#celebrities-category-container {
    background-image: url(../img/charles.jpg);
}

#art-category-container {
    background-image: url(../img/939391-fantasy-art-forests-gandalf-staff-the-lord-of-the-rings-wizard-woods.jpg);
}

#sports-category-container {
    background-image: url(../img/4VMyzdO.jpg);
}

#funny-category-container {
    background-image: url(../img/funny_kitten-wallpaper-1280x720.jpg);
}

#military-category-container {
    background-image: url(../img/viggen.jpg);
}

#music-category-container {
    background-image: url(../img/220px-TSFH-logo-Steven-R-Gilmore.png);
}

#architecture-category-container {
    background-image: url(../img/berlin_black_and_white-wallpaper-2560x1440.jpg);
}

#fashion-category-container {
    background-image: url(../img/up_on_the_hill-wallpaper-2560x1440.jpg);
}